#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pdv-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

/* LADO ESQUERDO */
.painel-esquerdo {
  width: 40%;
  background-color: #1e1e1e;
  border-right: 2px solid #333;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cupom-titulo {
  font-size: 2rem;
  border-bottom: 1px dashed #555;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.lista-produtos {
  flex: 1;
  overflow-y: auto;
  text-align: left;
}

.item-lista {
  background-color: #2a2a2a;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border-left: 8px solid #00d4ff;
  font-size: 1.2rem;
}

/* LADO DIREITO */
.painel-direito {
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aviso-box {
  background-color: #ffcc00;
  color: #000;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  animation: piscar 0.5s infinite alternate;
}

@keyframes piscar {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.8;
  }
}

.box-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.box-input label {
  font-size: 1.5rem;
}

.input-barras {
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: white;
  outline: none;
}

.input-barras:focus {
  background-color: #444;
  box-shadow: 0 0 0 4px #00d4ff;
}

.box-total {
  background-color: #00d4ff;
  color: #121212;
  padding: 40px;
  border-radius: 20px;
  text-align: right;
}

.titulo-total {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.valor-total {
  font-size: 7rem;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.box-botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.btn {
  padding: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-finalizar {
  background-color: #2ecc71;
  color: white;
}

.btn-cancelar {
  background-color: #e74c3c;
  color: white;
}